.cart-page{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.addtocart{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.cart-item{
    padding: 10px;
    background-color: rgba(233, 237, 240, 0.39);
}
.cart-item-image{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cart-item-image img{
width: 80px;
max-height: 80px;
}
.cart-item-name{
     text-align:center; 
     width: 150px;
    
}
.cart-item-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 255, 0.275) 1px 1px 1px;
    padding: 5px;
    /* width: 200px; */
    border: black solid 1px;

}
.mylist{   
     display: flex;
        position: fixed;
        width: 100%;
        gap: 40px;
        padding: 10px;
        background-color: aliceblue;
        box-sizing: border-box;}

.cart-list-choose{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    padding: 5PX;
    align-items: center;
}
.choose-list-div{
    display: flex;
    gap: 10px;
}
.select-list{
    background-color: antiquewhite;
    border-radius: 4px !important;
    padding: 2px 1px;
    border: none;
}
.list-creation{
display: flex;
flex-direction: row;
}
.delete-add{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
